apiVersion: v1
kind: Service
metadata:
  name: home-assistant
  namespace: home-automation
spec:
  selector:
    app: home-assistant
  type: LoadBalancer
  ports:
  - name: webui
    protocol: TCP
    port: 8123
    targetPort: 8123
  - name: sonos
    protocol: TCP
    port: 1400
    targetPort: 1400
