apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: home-automation
  name: pihole-exporter
  labels:
    app: pihole-exporter
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pihole-exporter
  template:
    metadata:
      labels:
        app: pihole-exporter
    spec:
      containers:
      - name: pihole-exporter
        image: ekofr/pihole-exporter
        envFrom:
        - configMapRef:
            name: pihole-exporter
        ports:
          - containerPort: 9617
